@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-win: rgb(52, 172, 52);
  --clr-start: #000;

  --ff-body: 'Press Start 2P', sans-serif;
}

body {
  font-family: var(--ff-body);
}

.page-wrapper {
  min-height: 100vh;
  background-color: var(--clr-start);
  color: white;
  padding: 1rem;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.replay-btn {
  background-color: white;
  border: none;
  width: 8.9rem;
  height: 2.5rem;
  border: none;
  font-family: var(--ff-body);
  font-size: 1rem;
}

.title {
  margin: 2rem 0;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  position: relative;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 11rem;
  height: 4.5rem;
  font-size: 2.2rem;
  z-index: 1;
}

.div-line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 5px;
  background-color: white;
}

.number-input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px solid white;
  color: white;
  background-color: transparent;
  width: 11rem;
  height: 4.5rem;
  font-family: var(--ff-body);
  font-size: 2rem;
}

.number-input:focus {
  outline: none;
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 0 0 0;
  /* flex: 1; */
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 50%;
}

.check-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 8.9rem;
  height: 2.5rem;
  border: none;
  font-family: var(--ff-body);
  font-size: 1rem;
}

.right {
  width: 50%;
}

.message {
  height: 2.5rem;
  margin-bottom: 4rem;
}

.high-score {
  margin-top: 1.5rem;
}

.btn {
  color: black;
}

.btn:hover {
  background-color: darkgray;
  cursor: pointer;
}

input {
  cursor: pointer;
}
